<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p style="max-width: 500px; text-align: justify;margin-left: inherit;"class="text-faded">I am a currently a junior computer science student based out of Portland, Oregon. I love the challenges that my classes offer, I love all things outdoors, and I also enjoy a fair bit of League of Legends. I am a passionate problem solver and love the opportunity that programming gives to solve real world problems and issues. For more information about projects and experience, check out below!</p>
            </div>
        </div>
    </div>
</section>
